/* PronunciationPage.module.css */
.container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
}

.mainTitle {
  font-size: var(--font-xxlarge);
  color: var(--indigo-color);
  text-align: center;
  margin-bottom: 30px;
}

.japaneseTextContainer {
  text-align: center;
  margin-bottom: 20px;
}

.japaneseText {
  font-size: 2em;
  color: var(--indigo-dark-color);
  font-family: var(--kanji-stroke-order-font);
  margin: 20px 0;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

.recordButton {
  background-color: var(--yellow-color);
  color: white;
  padding: 10px 20px;
  font-size: var(--font-large);
  border: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  transition: var(--btn-transition);
  margin-right: 20px;
}

.recordButton:hover {
  background-color: var(--yellow-dark-color);
}

.recording {
  background-color: var(--color-red);
}

.uploadButton {
  background-color: var(--indigo-color);
  color: white;
  padding: 10px 20px;
  font-size: var(--font-large);
  border: none;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  transition: var(--btn-transition);
}

.uploadButton:hover {
  background-color: var(--indigo-dark-color);
}

.audioPlayer {
  display: block;
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
}
