/* global.css */
:root {
  /* Color Scheme */
  --yellow-color: #ffd700; /* Bright Yellow */
  --yellow-light-color: #ffec8b; /* Light Yellow */
  --yellow-dark-color: #ffbf00; /* Dark Yellow */
  --yellow-gradient: linear-gradient(
    to right,
    to bottom,
    #99841d,
    #ffdd00
  ); /* Yellow Gradient */

  --indigo-color: #4b0082; /* Bright Indigo */
  --indigo-light-color: #b0a8f8; /* Light Indigo */
  --indigo-dark-color: #6f00ff; /* Dark Indigo */
  --indigo-gradient: linear-gradient(
    to right,
    to bottom,
    #4b0082,
    #6f00ff
  ); /* Indigo Gradient */

  --text-color: #333; /* Dark Grey for text */
  --background-color: #fff; /* White background */

  /* Font Sizes */
  --font-small: 12px;
  --font-normal: 16px;
  --font-large: 24px;
  --font-xlarge: 32px;
  --font-xxlarge: 64px;
  /* Font Family */
  --primary-font: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* You can add more global */
