/* NavBar.module.css */
.navBar {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  padding-left: 160px;
  padding-right: 160px;
  font-weight: 700;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  background-color: var(--indigo-color);
  border-radius: 50%;
  padding: 10px;
  font-size: var(--font-large);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSubText {
  font-size: var(--font-normal);
  color: var(--text-color);
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navItem {
  color: var(--text-color);
  margin-left: 20px;
  font-size: var(--font-normal);
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
}

.navItem:hover,
.navItem:focus {
  background-color: var(--indigo-light-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--indigo-dark-color);
  transition: width 0.3s;
}

.navItem:hover::after,
.navItem:focus::after {
  width: 100%;
}

.loginNavItem .navItem {
  background-color: var(--indigo-dark-color);
  color: white;
}

.loginNavItem .navItem:hover,
.loginNavItem .navItem:focus {
  background-color: darkgoldenrod;
  color: white;
}
.loginNavItem button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.loginNavItem .navItem::after {
  background-color: yellow;
}

.hamburger {
  display: none; /* Initially hidden */
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start; /* Adjust alignment for mobile */
    align-items: center;
  }

  .hamburger {
    display: block; /* Show hamburger menu */
    color: var(--text-color);
    text-align: center;
  }

  .navList {
    display: none; /* Hide navigation list initially */
    flex-direction: column;
    width: 100%; /* Full width for mobile */
    padding: 0; /* Adjust padding as needed */
  }

  .navItem {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    width: 300px;
  }
  .loginNavItem {
    margin-bottom: 20px;
  }

  .languageChange {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
  }

  /* Display the nav list when isNavVisible is true (handled by React state) */
  .navBar .navList {
    display: flex; /* Override display to flex when menu is toggled */
  }
}
