/* Main container and deck styling */
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: var(--indigo-light-color);
}

.deck {
  margin: 15px;
  display: flex;
  width: 800px;
  height: 400px;
  position: relative;
  font-family: var(--primary-font);
  border-radius: var(--btn-border-radius);
  background-color: var(--background-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card overall styling */
.card {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: var(--btn-border-radius);
  cursor: pointer;
  background-color: transparent;
}

/* Common face styling */
.face {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: var(--btn-border-radius);
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

/* Front face specific styling */
.imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--btn-border-radius) var(--btn-border-radius) 0 0;
}

.infoSection {
  font-size: var(--font-medium);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(50px, auto);
  padding: 20px;
  gap: 10px;
  background-color: transparent;
  align-items: center;
}

.title {
  font-size: var(--font-large);
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  color: var(--background-color);
  background-color: var(--indigo-color);
  padding: 5px 10px;
  border-radius: 30px;
}

.fullWidth {
  grid-column: 1 / -1;
  text-align: left;
  display: flex;
}

.exampleSentence {
  color: var(--text-color);
  padding: 10px 0;
}

/* Back face specific styling */
.back {
  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoSection > div,
.back > div {
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flipped {
  transform: rotateY(180deg);
}

.meaning,
.readings {
  font-size: var(--font-xxlarge);
  flex: 1;
}

/* Furigana styling */
.furigana {
  font-size: var(--font-medium);
  line-height: 1.4;
  color: var(--text-color);
  padding: 5px;
  text-align: left;
}
