/* Styles specific to Quill editor */
.ql-toolbar {
  border-radius: 4px 4px 0 0;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

.ql-container {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.editor-with-toolbar {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.ql-editor {
  min-height: 200px;
}
